/*
--- 01 - TYPHOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight:
    Default: 400
    Medium:
    semi-bold:
    bold:

- Line heights:
    Default: 1
    small:
    Medium:
    Paragraph Default: 1.6


- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Letter Spacing
-0.5px
- 0.75px




--- 02 COLORS

- Primary: #202B3B , #0B131E

    Tints:



    Shades:
    Accents:
    Greys: #555 , #333


---- 05 SHADOWS

  - 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

---- 06 BORDER-Radius
    Default:
    Medium:

            */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #0b131e;
  color: #fff;
}

.container {
  margin: 5rem auto;
  padding: 2rem;
  max-width: 60rem;
  border-radius: 0.5rem;
  background-color: #202b3b;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.05);
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

form input[type="text"] {
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  width: 60%;
  background-color: #202b3b;
  color: #fff;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #0062cc;
}

.icon img {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 4.8rem;
  font-weight: bold;
  margin: 2rem 0;
}

.description {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: #36404f;
  margin: 1rem;
  flex: 1;
  border-radius: 0.5rem;
  text-align: center;
  min-height: 4.5rem;
  font-size: 1.8rem;
}

footer {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

footer p a:hover {
  color: #007bff;
}
footer p a:active {
  color: #9775fa;
}

/* media queries */

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }
  form input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
  }
  .container {
    width: 90%;
    margin-top: 4rem;
  }
}
